.color-blue-1 {
    color: #e6f7ff !important;
}

.text-center {
    text-align: center;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
}